.custom-border {
  border: 1px solid #d6d6d6;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}
#strateline{
   font-size: 15px;
   text-align: center;
}
.custom-bd {
  border-bottom: 1px solid #cac9c9;
  font-size: 95%;
  font-weight: 600;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  z-index: 900;
  background-color: white;
}
.custom{
     font-size: 75%;

}
.btnkkjjk{
    height: 40px;
    width: 110px;
    background-color: white;
    border-radius: 50px;
    border: none;
    text-align: center;
    color: #1db35b;
    font-size: 13px;
    font-weight: 600;
    margin-left:20px;
    padding-right: 16px;
}
.button{
     border: 1px solid #f9fcfa;
     background-color:#58c58e; 
     width: 220px;
     border-radius: 5px;
     color: white;
     font-family: Arial;
}
.buttonsfd{
    border: 1px solid #808080;
     background-color:#ffffff; 
     border-radius: 5px;
     margin: 2%;
     color: white;
     font-family: Arial;
     margin-right: 1px;
}
#poiuytrtyu{
    padding: 0;
    margin: 0;
    padding-right: 8px;
    color: white;
    text-decoration-line: none;
    font-weight: 600;
}
#nsaffwiedt{
    width: 95%;
    overflow-x: none;
    height: 1620px;
    position: relative;
    overflow: auto;
    min-height: 1px;
    scrollbar-width: none; 
}
#nacfdfdgswie{
    width: 28%; 
    position: sticky; 
    box-sizing: border-box; 
    min-height: 1px;
}
#pagfd{
    margin: 0;
}
.num{
    padding: 0px;
}
.numpara{
    padding: 0px;
    font-weight: 100px;
}
.thirdnav{
    display: flex;
    justify-content: center;
}
#hed1{
    padding-top: 10px;
    margin: 0;  
    color: #65c76a; 
    
}
#hgdfd{
   height: 40px;
   width: 40px;
   background-color: #f7f6f6;
   border-radius: 50%;
   text-align: center;
   padding-top: 7px;
   color: #616060;
   font-weight: 600;
   margin: 6px;
}
#hgdfds{
   height: 40px;
   width: 40px;
   background-color: #5aa16f;
   border-radius: 50%;
   text-align: center;
   padding-top: 7px;
   color: #ffffff;
   font-weight: 600;
   margin: 6px;

}
#hgdfdds{
    color: #a9a6a6;
    font-size: 25px;
    padding: 0;
    font-weight: 500;
}

#para{
    padding: 0;
    margin: 0; 
    font-size: 75%;
}
.headphone{
    font-weight: bold;
    color: rgb(60, 65, 60);
    font-size: 31px;
    padding-top: 5px;

}
.mainsndsearch{
    height: 60px;
    width: 500px;
    border: 1px solid rgb(126, 192, 113);
    border-radius: 3px;
    padding: 15px;
    text-align: center;
}

.inputse{
   border:none;
}

#nober{
  color: #65c76a;
  font-weight: 600;
}

.carousel-slide {
  height: 500px;
  background-size: cover;
  background-position: center;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: rgb(41, 40, 40);
    border-radius: 50%;
}

.subscribe{
    height: 60px;
    width: 150px;
    background-color: #65c76a;
    border-radius: 30px;
    text-align: center;
    padding-top: 18px;
}
.emailadd{
    height: 60px;
    width: 250px;
    background-color: #ffffff;
    border-radius: 30px 0 0 30px;
    text-align: center;
    padding-top: 18px;
}
.emailsub{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 400px;
    border: 1px;
    border-radius: 30px;
}
.carousel-slide{
   padding-left: 150px;
   padding-top: 70px;
   margin: 15px;
   border-radius: 20px;
}
#hedinbg{
    font-family: Arial;
    font-size: 60px;
    font-weight: 600;
}
.bg-white {
  height: 35px;
}
.home2Card{
    width: 120px;
    text-align: center;
    display: grid;
    border: 1px solid black;
    
}
.imagecard{
    height: 80px;
    width: 100%;
    padding-bottom: 20px;
}
.cardthird{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.adfdlkfdlklll{
    display: grid;
    grid-template-columns: auto auto auto auto auto  ;
    gap: 10px;
    margin-left: 2.5%;

}
.preriii{
    padding: 20px;
    transition: 200ms;
}
.preriii:hover{
    padding: 2px;
}
.poiuytgjiuy{
    height: 20px;
    width: 20px;
    background-color: #47c381;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 600;
    color: #fefffb;
    text-align: center;
    position: absolute;
}
.poiuytgjiuyds{
    width: 10px;
}
.seccard{
    border-radius: 10px;
    padding: 50px;
    object-fit: cover;
    background-image: url('https://nest-frontend-v6.vercel.app/assets/imgs/banner/banner-1.png');
    height: 220px;
    width: 400px;
}
.btm{
    background-color: #55ca8a;
    border: none;
    height: 30px;
    border-radius: 5px;
    color: #f9fcfa;
    margin-top: 10px;
}
.arrownext{
    font-size: 10px;
    font-weight: bold;
}
.fontchn{
    color: #b5b7b6;
    margin-right: 15px;
    font-weight: 600;
    font-size: 14px;
    padding-top: 10px;

}
.gfdgfd{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.fivediv{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 10px 20px 20px;
}
.parasna{
    margin: 0;
    padding: 0;
}
.btnsnak{
    background-color: #a3d8bd;
    border: none;
    height: 30px ;
    width: 80px;
    border-radius: 3px;
    color: rgb(4, 131, 72);
    font-weight: 600;
}
.bring{
    font-size: 35px;
    padding: 40px;
    padding-top:50px ;
}
.btnsnaks{
    background-color: rgb(27, 189, 113);
    border: none;
    height:30px ;
    width: 100px;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
    margin-left: 40px;
}
#delet{
    font-size: 13px;
    color: rgb(110, 107, 107);
    font-weight: 600;
    margin: 0;
}
#heddet{
   font-size: none;
   color: rgb(89, 156, 89);
   margin: 0;
   margin-right: 10px;
}
.delt{
    display: flex;
    justify-content: space-between;
}
.deltsd{
    display: flex;
}
.rating{
     display: flex;
     margin-top: 6px;
     margin-bottom: 6px;
     
}
.ratingstar{
    color: rgb(243, 168, 28);
     font-size: 12.5px;
}
.old{
    font-size: 13.5px;
}


.btnsnak:hover{
    background-color: red;
}
.card-body{
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    font-size: xx-small;
}
.cardfourth{
    height: 450px;
    width: 300px;
    border-radius: 13px;
    margin: 20px;
    object-fit: fill;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: url(https://nest-frontend-v6.vercel.app/assets/imgs/banner/banner-4.png);
}

.btnsnakadd{
    width: 150px;
    text-align: center;
    background-color: #53bd6e;
    border: none;
    margin-left: 20px;
    margin-top: 10px;
    height: 30px;
    border-radius: 4px;
    color: white;
    font-size: 12.5px;
}
.progressbar{
    background-color: #cbe0cc;
    height: 8px;
    border-radius: 20px;
    width: 100%;
}
.progr{
    background-color: #1db35b;
    height: 8px;
    border-radius: 20px 0 0 20px;
    width: 60%;
}
.cardfive{
    margin: 10px;
    width: 14rem; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.cardsiven{
    margin: 10px;
    width: 14rem; 
}
.cardfivesf{
    margin-top: 15px;
    height: 438px;
    display: flex;
    justify-content: space-between;
}
.carddfdfd{
    height: 520px;
    
}
.Cardsix{
    border-radius: 13px;
    margin: 20px;
    object-fit: fill;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: url(https://nest-frontend-v6.vercel.app/assets/imgs/banner/banner-5.png);
    height: 320px;
    width: 320px;
    
}
.sixcard{
    height: 160px;
    width: 300px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.sixcardsfdfd{
    padding-top: 10px;
    padding-left: 10px;
}
.sixtimedate{
    background-color: #ffffff;
    height: 55px;
    width: 55px;
    border-radius: 5px;
    margin: 10px;
    margin-top: 150px;
    margin-left: 14px;
    text-align: center;
    font-size: 12px;
    color: #1db35b;
    font-weight: bold;
    padding-top: 10px;
}
.dsisix{
    display: flex;
    

}
.timedf{
    color: black;
}
.cardsixfdf{
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.ljj{
    height: 1px;
    width: 100%;
    background-color: #a5a8a6;
}
.jsd{
    width: 100px;
    background-color: #65b47f;
    height: 2px;
}

.tadfdfv{
    margin: 40px;
    margin-top: 100px;
}
.imgseve{
    width: 5rem;
    background-color: rebeccapurple;
    border-radius: 11px;
    border: none;
}
.imgedfg{
    height: 50px;
    width: 50px;
    border-radius: 8px;
    border: none;
    margin-top: 22px;
    margin-left:20px;
}
.dsiseven{
    display: flex;
    height: 100px;
    margin: 40px;
    margin-top: 0;
    width: 100%;
}
.dsieight{
     display: flex;
    height: 90px;
    margin: 10px;
    margin-top: 0;
    width: 100%;
    background-color: #f1f3f1;
    border-radius: 10px;
    margin-bottom: 30px; 
}
.dsisedf{
    display: flex;
    justify-content: center;
}
.lkjk{
    width: 100%;
}
.imgagesfdsf{
    width: 100%;
    object-fit: fi
}
.dsigdfsgg{
    display: flex;
    background-color: #c4dde0;
    height: 417px;
    width: 98%;
    margin: 10px;
    justify-content: space-between;
    border-radius: 15px;
    margin-bottom: 40px;
}
.afdgf{
    width: 100%;
    margin: 50px;
    margin-left: 100px;
    margin-top: 82px;
}
.imafger{
    height: 253px;
    margin-top: 164px;
    margin-right: 53px;
}
.cardgfdfg{
    margin: 23px;
}
.lastnav{
    border-top: 1px solid rgb(157, 226, 174);
    padding-top:35px;
    padding-bottom: 35px;
}
#logolst{
    background-color: #5ead7f;
    border-radius: 50%;
    height:25px ;
    width: 25px;
    text-align: center;
    padding-top: 1.5px;
    color: white;
    font-size: 12.5px;
    margin: 4px;
}
#hkjfgdf{
    color: black;
    width: 100%;
    margin-top: 6px;
    margin-right: 11px;
}
#callicon{
    font-size: 28px;
    color: gray;
    margin-right: 11px;
}
.lastndfkdf{
    display: flex;
    margin: 13px;
    margin-left: 46px;
    margin-top: 29px;
}
.lsfdfggfg{
    width: 100%;
    margin: 10px;
    margin-top: 25px;
    
}
.ifgfldkjg{
    height: 20px;
    width: 100px;
    padding-left: 10px;
}

.imgfggsfdsd{
    display: flex;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 5px;
}
.fgfgkklkg{
    margin-right: 20px;
}
.itrtrigfjf{
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.secpagbtn{
    display: flex;
    margin-top: 20px;
}
.sdkfdgdg{
    display: flex;
    background-color: #c4e4e7;
    height: 200px;
    width: 98.4%;
    border-radius: 20px;
    justify-content: space-between;
    padding: 55px;
    padding-top: 65px;
    margin: 10px;
}
.sesfdgsdf{
    height: 420px;
    width: 263px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 11px;
    padding: 15px;
}
#dfg92{
  width: 95%;
    height: 2px;
    background-color: rgb(218, 217, 217);
    margin-top: 8px;
   
}
#fdgddsfgggd{
    width: 91%;
    margin-left: 9px;
    height: 2px;
    background-color: rgb(218, 217, 217);
    margin-top: 6px;
    margin-bottom: 12px;
}
#dfg91{
  width: 35%;
    height: 2px;
    background-color: rgb(150, 216, 158);
    
}
.hoverdsf:hover{
    border: 1px solid rgb(137, 214, 214);
    color: #53bd6e;
    transition-duration: .5s;
    box-shadow: rgb(137, 214, 214) 0px 0px 0.25em, rgb(137, 214, 214) 0px 0.25em 1em;
}
#imggds{
    height: 25px;
    width: 25px;
    object-fit: fill;
    margin-right: 10px;
}
.rounded-pill{
        margin-top: 3px;
}
#checkdfsdf{
    color: #1db35b;
}
.fontclr{
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
}
.form-check{
    margin: 0;
}

#fillfdfd{
    height: 40px;
    width: 85px;
    background-color: #52be7b;
    border-radius: 3px;
    border: none;
    font-weight: 600;
    color: white;
    font-size: 14px;
    transition: 1ms;
    
}
#fillfdfd:hover{
    width: 95px;
    background-color: #dbb60e;
    transition:1ms;
}
#formto{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.fgdsggjkhh{
    font-size: 85%;
        margin-left: 2%;
        margin-right: 1%;
    }
.randfdfdfdf{
    color: #1db35b;
    font-size: 10px;
}
.radfdfd{
    width: 97%;
    height: 6px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#afd34k{
    margin: 0;
    margin-right: 10px;
   }
#afddimag{
        height: 70px;
        width: 71px;
        margin-right: 20px;
}
#fbddd{
  font-weight: 600;
  font-size: 18px;
  color: #38b470;

}
#sdfj{
    color: #a4a5a4;
    font-size: 12px;
    margin: 0;
}
.dotlin{
    border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
}
#imagII {
    height: 263px;
    width: 263px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 11px;
    
}
#dfgdgk{
    color: #434443;
    position: absolute;
    width: 100px;
    margin-top: 97px;
    margin-left: 51px;
    font-weight: bold;
}


input:focus {
    outline: none; /* custom blue outline */
}

.sddffggddfdcx{
    height:60px;
    padding-top: 10px;
    padding-left: 30px ;
    border-bottom: 1px solid rgb(201, 199, 199);
}
#imgpriwd{
    height: auto;
    object-fit: fill;
    width: 100%;
    transition: .5s;
    padding: 10px;
}
#imgpriwd:hover{
    padding: 0px;
}
#imgpriwdsmall{
    height: 120px;
    width: fit-content;
    transition: .5s;
    padding: 10px;
}
#checkboxset{
    outline: 1px 00 rgb(216, 214, 214);
    box-shadow: none;
    border-radius: 2px;
    font-size: 16px;
}
.comppagetsf{
   margin: 130px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.tagvdgfdfbt{
    text-align: center ;
    border-width: 0 var(--bs-border-width);
    width: 100%;
    font-size: small;
    font-weight: 500;
    vertical-align: middle;
}
#grdsfyfxz{
    color: #181818;
}
#grdsfyu{
    color: #1db35b;
}

#stocklkuh{
    border-radius: 3px;
    border: none;
    background-color: #b6f1ed;
    padding: 5px;
    padding-right: 12px;
    padding-left: 12px;
    font-weight: bold;
    color: #38af69;
}
.lkjhghioiuh{
  overflow: auto;
  height: 450px;
  scrollbar-width: none; 
  width: 800px;
}
#stocklkuhlk{
    border-radius: 3px;
    border: 1px solid #068039 ;
    background-color: #ffffff;
    font-weight: bold;
    padding-top: 13px;
    padding-bottom: 8px;
    padding-left: 20px;
    color: #babebc;
    display: flex;
}
#stocklkuhs{
    border-radius: 3px;
    border: none;
    background-color: #fdc0ff;
    padding: 5px;
    padding-right: 12px;
    padding-left: 12px;
    font-weight: bold;
    color: #d36a9f;
}
.cntts{
    background-color: #260d47;
}
.btnsnaksd{
    background-color: rgb(132 93 199);
    border: none;
    height: 35px ;
    width: 110px;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    transition: .5s;
}
.btnsnaksd:hover{
    background-color: rgb(14, 35, 43);
    box-shadow: rgba(78, 95, 248, 0.884) 0px 8px 24px;
}
.btnsnaksder{
   background-color: rgb(78 193 139);
    border: none;
    height: 35px ;
    width: 110px;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    transition: .5s;
}
.btnsnaksder:hover{
    background-color: #638513;
    box-shadow: rgba(127, 236, 2, 0.884) 0px 8px 24px;
}
.tabledfdfdfd{
    color: gray;
}
.table-bordered>:not(caption)>*>*{
    border-width: 0 var(--bs-border-width);
    color: #787877cf;
    width: 60px;
    height: 70px;
    vertical-align: middle;
}
#idfontcolor{
    color: rgb(199, 192, 192);
}
.adfkdlflf{
    text-align: middle;
    border-bottom-style:inset ; 
}

.table-bordered>:not(caption)>*>* {
    width: fit-content;
}
#adfkdlflfdff{
    background-color: #286846;

}
.widthdifdfdop{
    height: 1px solid rgb(102, 62, 62);
    width: 97%;
}
.plmkk{

}
.fsdfsflln{
    height: 300px;
    width: 300px;
    background-color: #38b470;
    border-radius: 20px;
    border: none;
}
.lkjhgfiuyt{
    background-color: #ffffff;
    height: 447px;
    padding: 25px;
    width: 386px;
    box-shadow: brown;
    box-shadow: rgb(23 255 107 / 78%) 0px 13px 27px -5px, rgb(51 187 175 / 66%) 0px 8px 16px -8px;
    border-radius: 17px;
    border: 1px solid #f3eeee;
}



.search-container {
  max-width: 300px;
  margin: 50px auto;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.search-list {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 150px;
  overflow-y: auto;
}

.search-item {
  padding: 8px 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
}

.search-item:last-child {
  border-bottom: none;
}

.mknjbkf{
    width: 100%;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    border: 1px solid rgb(221, 218, 218);
    height: 40px;
    padding: 10px;
}
.mknjbkfh{
    width: 100%;
    margin-left: 14px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    border: 1px solid rgb(221, 218, 218);
    height: 40;
    
}
.dfdfdfglgjgvnmb{
        width: 38%;
        padding: 63px;
        margin: 20px;
}
.poiuhnk{
    width: 58%;
    border-radius: 11px;
    padding: 87px;
}
#yhnjuik{
    height: 59px;
    border-radius: 10px;
    border: 1px solid #d1c9c9;
    padding-left: 9px;
    width: 160px;
    margin-right: 10px;
    margin-top: 40px;
}
#yhnjuiksdfgre{
    height: 59px;
    border-radius: 10px;
    border: 1px solid #d1c9c9;
    padding-left: 9px;
    width: 160px;
    margin-right: 10px;
}
#yhnjuiksd{
    height: 59px;
    border-radius: 10px;
    border: 1px solid #d1c9c9;
    padding-left: 9px;
    width: 160px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 40px;
}
.afjkddfdfsfkjsf{
    display: flex;
    justify-content: space-between;
    width: 61%;
    margin: 26px;
}
#btaflddlruts{
    height: 61px;
    width: 106px;
    background-color: #509f60;
    border-radius: 14px;
    border: none;
    margin-right: 47px;
}
.clanaffdf{
    color: #1db35b;
    width: 64%;
}
.afdghgfd{
    width: 22%;
    margin-top: 120px;
    margin-bottom: 120px;

}
#tetrue{
    margin-top: 135px;
    margin-left: 80px;
}


.afoewoe{
    color: #068039;
    background-color: #ffffff;
    height: 45px;
}
.adflfddkf{
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
}

.dfghgbvvb {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #DDD;
}

#dfgfd, #dfgfdd {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
  
}

.dfdfdjhgv{
    margin-left: 40px;
    margin-top: 20px;
}
#trerertr{
    height: 60px;
    border-radius: 12px;
    border: none;
    border: 1px solid rgb(197, 193, 193);
    width: 37%;
    padding: 24px;

}
#ffllfjl{
    margin: 0;
    margin-top: 22px;
    
    font-weight: 600;
}
.adfgoed{
     margin-top: 23px;
    margin-left:96px;
}
#trerertrjhgh{
    height: 62px;
    border-radius: 11px;
    border: none;
    border: 1px solid rgb(197, 193, 193);
    width: 13%;
    padding: 19px;
    background-color: #143940;
    margin-top: 15px;
    color: white;
    font-weight: 600;
    transition-duration: 0.5s;
}
#trerertrjhgh:hover{
    background-color: #37da80;
}
#trerertrjhghsdf{
    height: 62px;
    border-radius: 11px;
    border: none;
    border: 1px solid rgb(197, 193, 193);
    width:50%;
    padding: 19px;
    background-color: #143940;
    margin-top: 15px;
    color: white;
    font-weight: 600;
    transition-duration: 0.5s;
}
#trerertrjhghsdf:hover{
    background-color: rgb(34, 139, 57);
}
#trerertrjhghsdfds{
    height: 62px;
    border-radius: 11px;
    border: none;
    border: 1px solid rgb(197, 193, 193);
    width:26%;
    padding: 19px;
    background-color: #143940;
    margin-top: 15px;
    color: white;
    font-weight: 600;
    transition-duration: 0.5s;
}

#ertifjjg{
    display: flex;
    justify-content: space-between;
    width: 57%;
    margin-top: 10px;
    margin-left: 50px;
}
#poioioi{
    height: 55px;
    border-radius: 12px;
    border: none;
    border: 1px solid #dfd7d7;
    margin-top: 4px;
    width: 84%;
}
#poioiosdi{
    height: 55px;
    border-radius: 12px;
    border: none;
    border: 1px solid #dfd7d7;
    margin-top: 20px;
    width: 25%;
    background-color: #3fa36c;
    color:white;
    font-weight: 600;
    font-size: 18px;
}
.erieridkf{
    margin-left: 70px;
}
.ojhtnbg{
    margin-right: 230px;
    margin-left: 230px;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
}
.opkjenf{
    width: 100%;
    height: 500px;
    object-fit: fill;
}
.uytrewefgh{
    margin-left: 40px;
}
#adfgkli{
    height: 63px;
    border-radius: 11px;
    border: none;
    border: 1px solid rgb(196, 192, 192);
    margin-bottom: 20px;
    width: 456px;
    padding-left: 30px;
}
#adfgklisd{
    height: 63px;
    width: 150px;
    border-radius: 11px;
    border: 1px solid rgb(196, 192, 192);
    margin-bottom: 10px;
    background-color: #bee5ff;
    display: flex;
    padding: 13px;
    padding-left: 40px;
    
}
#adfgklisdmk{
    height: 63px;
    width: 200px;
    border-radius: 11px;
    border: 1px solid rgb(196, 192, 192);
    margin-bottom: 10px;
    background-color: #ffffff;
    display: flex;
    padding: 13px;
    padding-left: 31px;
    margin-right: 100px;
}
#adflgfglfdg{
    color: rgb(175, 169, 169);
}
#lklllkkk{
    margin-bottom: 15px;
    margin-right: 10px;
}

.alfdfdf{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 11px;
}
#artft{
    color: #202020d7;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
}
#artfttg{
    color: #636060d7;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
}
#artfttg:hover{
    color: #2a9669ee;
    text-underline-offset: none;
    font-family: Arial;
}
#artft:hover{
    color: #2a9669ee;
    text-underline-offset: none;
    font-family: Arial;
    font-weight: 600;
}
li{
    list-style-type: none;
}

.oieruet {
  position: absolute;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #ccc;
  width: 180px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 999;
  top: '100%';
  left: 0 ;
  text-decoration: none;
  margin-block: none;
  transition: 1ms;
}
.oieruetsd{
  position: absolute;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #ccc;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 999;
  top: '100%';
  left: 0 ;
  text-decoration: none;
  margin-block: none;  
}
.oieruetrtc{
   position: absolute;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #ccc;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 999;
  top: '100%';
  left: 0 ;
  text-decoration: none;
  margin-block: none; 
}
.dfghjktrertyuyt{
  position: absolute;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 999;
  text-decoration: none;
  height: 400px;
  display: flex;
  justify-content: center;
}
.hiejdflkdsfdf{
    height: 400px;
    width: 600px;
    padding: 70px;
}
.hiejdflkdsfdflkj{
    position: absolute;
    z-index: 999;
    margin: 100px;
    width: 200px;
}
.irfdnkdfd{
    position: absolute;
}

.fgfhrerii{
    display: flex;
    grid-gap: 10px;
    justify-content: space-between; 
    height: 220px;
    margin-bottom: 40px;
    
}

